* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fccc54;
  text-decoration: none;
}

a:hover {
  color: #c8f524;
  transition: 0.25s;
}

body {
  background-image: linear-gradient(120deg, #a149e9 0%, #a31c7b 100%);
  color: white;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

header {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background: white;
  font-family: "Roboto", sans-serif;
}

form button {
  color: #ff47f6;
  background: #e8bef8;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #ff47f6;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #e24f27;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(11, 212, 162);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fall {
  opacity: 0;
  transform: translateX(30vw);
}

.completed {
  opacity: 0.5;
}

.completed:before {
  content: "✘";
  margin-left: 5px;
}
